<%ilosc=@animals.size%>
<%i=0%>
<% @animals.each do |animal| %>
    <%if i%5==0%>
        <div class="TAB">
    <%end%>
    <%= link_to  animal do%>
        <%if i%5==0 && i!=ilosc%>
                <div class="TB T">
            <%end%>
        <%if i%5==1 && i!=ilosc%>
                <div class="TR T">
        <%end%>
        <%if i%5==2 && i!=ilosc%>
                <div class="TG T">
        <%end%>
        <%if i%5==3 && i!=ilosc%>
                <div class="TY T">
        <%end%>
        <%if i%5==4 && i!=ilosc%>
                <div class="TP T">
        <%end%>
              <div class="BT">
                <% if true %>
                    <div class="BL"><%= link_to 'Edit', edit_animal_path(animal) %></div>
                    <div class="BR"><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                <%end%>
              </div>
              <div class="BPhoto"><img class="BPhoto" src=<%= animal.photo %> alt=""></div>
              <div class="BB"><%= animal.name %></div>
            </div>
    <%end%>
    <%if i%5==4%>
        </div>
    <%end%>
    <%i+=1%>
<%end%>

<%if i%5==0%>
    <div class="TAB">
    <%end%>

<%= link_to  new_animal_path do%>
    <div class="TZ T">
      <div class="BPlus"><%= image_tag("29948.png", class:"BPhoto")%></div>
    </div>
<%end%>

<%if i%5==0%>
    </div>
<%end%>
