<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Animal</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.animal_id %></td>
        <td><%= payment.user_id %></td>
        <td><%= payment.status %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_animal_payment_path %>
