<!DOCTYPE html>
<html>
<head>
  <title>ZOO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag "banner.jpg" %>
<%= link_to "GO TO ANIMALS", animals_path %> <a href="/">Strona główna</a>
<br>
<%= yield %>

</body>
</html>
