<!DOCTYPE html>
<html>
<head>
  <title>ZOO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table class="tabela">
  <tr class="baner">
    <td class="photo">
      <%= image_tag("baner.jpg", class: "menu_icon")%>
    </td>
    <td class="Wyloguj">
      <% if current_user %>
          Witaj <strong><%= current_user.name %></strong>!
      <% end %>
    </td>
  </tr>
  <tr class="TRbelka">
    <td>
      <div class="belka">
        <a class="belka-button" id="button" href="/animals">Nasze zwierzęta</a>
        <a class="belka-button" id="button" href="/">Strona główna</a>
        <% if current_user %>
            <%= link_to "Wyloguj", signout_path, id: "sign_out", class: "belka-button", id: "button"%>
            <%= link_to "Strona użytkownika",static_page_user_path, class: "belka-button", id: "button" %>
            <%= link_to "Administracja",static_page_admin_path,class: "belka-button", id: "button" %>
        <% else %>
            <%= link_to "Zaloguj przez FB", "/auth/facebook", id: "sign_in", class: "belka-button", id: "button" %>
        <%end%>
      </div>
    </td>
  </tr>
</table>
<%= yield %>
</body>
</html>
