<!DOCTYPE html>
<html>
<head>
  <title>ZOO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner">
    <%= image_tag("baner.jpg", class: "menu_icon") %>
</div>
<div id="user-widget">
  <% if current_user %>
    Witaj <strong><%= current_user.name %></strong>!    
  <% end %>
</div>
<div class="belka">
    <div class="menu">
      <a class="menu-button" href="/animals">Nasze zwierzęta</a>
      <a class="menu-button" href="/">Strona główna</a>
      <% if current_user %>
      <%= link_to "Wyloguj", signout_path, id: "sign_out", class: "menu-button" %>
      <%= link_to "Strona użytkownika",static_page_user_path, class: "menu-button" %> 
      <% if admin? %>
        <%= link_to "Administracja",static_page_admin_path,class: "menu-button" %> 
      <% end %>  
      <% else %>
      <%= link_to "Zaloguj przez FB", "/auth/facebook", id: "sign_in", class: "menu-button" %>
      <%end%>
    </div>
</div>



<%= yield %>

</body>
</html>
